<!-- File: chapter4/simple-form.html -->
<html ng-app="cadastroApp">
<head>
    <title>Cadastro App</title>

    <style>
        label {
            display:block;
            padding-top:10px; 
        }

        input.submit {
            padding:10px;
            margin-top: 10px;
        }

        .erro {
            color: red;
        }

        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
            padding : 10px;
        }
        

    </style>
</head>
<body ng-controller="MainCtrl as mainCtrl">

    <button ng-click="mainCtrl.open('cadastrar')">
        Cadastro
    </button>
    <button ng-click="mainCtrl.open('listar')">
        Listar cadastrados
    </button>

    <button ng-click="mainCtrl.open('consultar_cep')">
        Consultar CEP
    </button>

    <div ng-switch="mainCtrl.tab">

        <div ng-switch-when="consultar_cep">
            <div ng-controller="ConsultarCEPCtrl as ctrl">

                <h1>Consulta CEP</h1>

                <input type="text" name="cep" ng-model="ctrl.cep">
                
                <button ng-click="ctrl.consultar(ctrl.cep)">Consultar</button>

                <h2>Resultado</h2>



                <table>
                    <thead>
                        <th>CEP</th>
                        <th>Logradouro</th>
                        <th>Complemento</th>
                        <th>Bairro</th>
                        <th>Localidade</th>
                        <th>UF</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ctrl.dados.cep}}</td>
                            <td>{{ctrl.dados.logradouro}}</td>
                            <td>{{ctrl.dados.complemento}}</td>
                            <td>{{ctrl.dados.bairro}}</td>
                            <td>{{ctrl.dados.localidade}}</td>
                            <td>{{ctrl.dados.uf}}</td>
                        </tr>

                    </tbody>
                </table>

            </div>
            
        </div>

        <div ng-switch-when="listar">
            <div ng-controller="ListarCtrl as ctrl">

                <h1>Listar</h1>

                <table>
                    <thead>
                        <th>Nome</th>
                        <th>CEP</th>
                        <th>Logradouro</th>
                        <th>Numero</th>
                        <th>Bairro</th>
                        <th>Localidade</th>
                        <th>UF</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in ctrl.cadastros">
                            <td>{{c.nome}}</td>
                            <td>{{c.endereco.cep}}</td>
                            <td>{{c.endereco.logradouro}}</td>
                            <td>{{c.endereco.numero}}</td>
                            <td>{{c.endereco.bairro}}</td>
                            <td>{{c.endereco.localidade}}</td>
                            <td>{{c.endereco.uf.uf}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            
        </div>


        <div ng-switch-when="cadastrar">
            <div ng-controller="CadastroCtrl as ctrl">
            <form ng-submit="ctrl.submit()" name="form">

                <div>

                    <label for="nome" >Nome</label>
                    <input type="text"
                        name="nome"
                        ng-model="ctrl.user.nome" 
                        ng-minlength="3"
                        required
                    >
                    
                    <span ng-show="form.nome.$error.required && form.nome.$dirty" class="erro">
                        Campo obrigatorio
                    </span >
                    
                    <span ng-show="form.nome.$error.minlength" class="erro">
                        Tamanho minimo de 3 caracteres
                    </span>

                </div>
                
                <div>
                    <label for="cep" >CEP</label>
                    <input 
                        name="cep"
                        type="text" 
                        ng-model="ctrl.user.endereco.cep"
                        ng-minlength="8"
                        ng-maxlength="8"
                        required
                    >
                    <span ng-show="form.cep.$error.required && form.nome.$dirty" class="erro">
                        Campo obrigatorio
                    </span >

                    <span ng-show="form.cep.$error.minlength" class="erro">
                        Tamanho minimo de 8 caracteres
                    </span >
                    

                </div>

                <div>
                    <label for="logradouro" >Logradouro</label>
                    <input 
                        name="logradouro"
                        type="text" 
                        ng-model="ctrl.user.endereco.logradouro"
                        ng-minlength="3"
                        required
                    >
                    <span ng-show="form.logradouro.$error.required && form.nome.$dirty" class="erro">
                        Campo obrigatorio
                    </span >

                    <span ng-show="form.logradouro.$error.minlength" class="erro">
                        Tamanho minimo de 3 caracteres
                    </span >
                </div>

                <div>
                    <label for="numero" >Numero</label>
                    <input name="numero" type="number" ng-model="ctrl.user.endereco.numero" required>
                    <span ng-show="form.numero.$error.required && form.nome.$dirty" class="erro">
                        Campo obrigatorio
                    </span >
                </div>

                <div>
                    <label for="complemento" >Complemento</label>
                    <input type="text" ng-model="ctrl.user.endereco.complemento">
                </div>

                <div>
                    <label for="bairro" >Bairro</label>
                    <input type="text" ng-model="ctrl.user.endereco.bairro">
                </div>

                <div>
                    <label for="localidade" >Localidade</label>
                    <input type="text" ng-model="ctrl.user.endereco.localidade">
                </div>

                <div>
                    <label for="uf" >UF</label>
                    <select ng-model="ctrl.user.endereco.uf" ng-options="e.uf for e in ctrl.listaEstados">
                        <option value="">Selecione UF</option>
                    </select>
                    
                </div>


                <input 
                    type="submit" 
                    class="submit" 
                    value="Submit"
                    ng-disabled="form.$invalid"
                >
            </form>
        </div>
    </div>
</div>    

    <script
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js">
    </script>
    <script
    src="https://code.angularjs.org/1.6.3/angular-resource.min.js">
    </script>
    
    <script type="text/javascript" src="cadastro.js"></script>
</body>
</html>
